fastapi
uvicorn
python-multipart
gradio
openai
transformers
huggingface-hub<1.0
tqdm
gymnasium
pandas
numpy<2
pyyaml
matplotlib
geopandas
shapely
pyogrio
scipy
scikit-learn
pillow
openpyxl
adjustText
